<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
<!-- ********************************* part 3 :for customer-job scheduler ********************************* -->

    <bean id="quartzScheduler" lazy-init="false" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="autoStartup" value="true" />            <!--自动启动 -->
        <property name="startupDelay" value="20" />             <!--延时启动，应用启动成功后在启动 -->
        <property name="overwriteExistingJobs" value="true" />  <!--覆盖DB中JOB：true、以数据库中已经存在的为准：false -->
        <property name="applicationContextSchedulerContextKey"  value="applicationContextKey" />
        <property name="configLocation" value="classpath:/config/quartz.properties"/>
    </bean>

    
	
	   <bean id="jobDynamicScheduler" class="com.job.admin.job.schedule.JobDynamicScheduler" init-method="init" destroy-method="destroy" >
        <!-- (轻易不要变更“调度器名称”, 任务创建时会绑定该“调度器名称”) -->
        <property name="scheduler" ref="quartzScheduler"/>
        <property name="accessToken" value="${job.accessToken}" />
    </bean>
	
	
</beans>